---
import { ClientLoadComponent1 } from "../components/ClientLoadComponent1";
import { Component1 } from "../components/Component1";
import { Component2 } from "../components/Component2";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Component1 />
		<Component2 />
		<!-- Island -->
		<ClientLoadComponent1 client:load />
	</body>
</html>
